<li class='todo-li'>
  <%= div_for todo do %>
  <div>
    <% if todo.status == 0 %>

      <%= link_to "", complete_path(todo), :class => "fa fa-square-o fa-5x", remote: true%>
    <% else %>

      <a href="/" disabled="disabled"><i class="fa fa-check-square-o fa-5x"></i></a>
    <% end %>
    <div class='l-inline todo-text '>
    <h3 class=
      '<% if todo.status == 0 %>
        <%= todo.priority_word %>
      <% else %>
        completed
      <%end %>'>
      <%= todo.title %>
    </h3>
    <h4 class=
      '<% unless todo.status == 0 %>
      completed
      <%end %>'>
      <%= todo.description %>
    </h4>
    </div>
    <div class="l-inline priority ">
    <p class='display-none'><%= todo.priority_word %></p>
    </div>
    <div class='l-inline delete'>
    <%= link_to "", todo, :class => "fa fa-trash-o fa-5x", method: :delete, remote: true, data: { confirm: "Are You Sure?" }%>
    </div>
    <div class=
    'l-inline edit <% unless todo.status == 0 %>
      display-none
      <%end %>'>
    <%= link_to "", edit_todo_path(todo), :class => "fa fa-pencil fa-5x", remote: true %>
    </div>

  <% end %>
  </div>
  </li>