
<li>
<%= div_for todo do %>
  <div>
  <%= link_to 'Mark Complete', status_todo_path(todo), method: :patch, remote: true, id: 'mark-complete' %>
  <%= todo.title %>
  <%= todo.description %>
  <%= todo.priority_word %>
  <%= link_to "edit", edit_todo_path(todo), remote: true %>
  <%= link_to "delete", todo, method: :delete, remote: true, data: { confirm: "Are You Sure?" }%>
<% end %>
</div>
</li>