
<li>
<%= div_for todo do %>
  <div>
  <% if todo.status == 0 %>
  <%= link_to 'Mark Complete', complete_path(todo), remote: true%>
  <% end %>
  <div class='todo-text'><%= todo.title %>
  <%= todo.description %>
  </div>
  <div class="priority">
  <p><%= todo.priority_word %></p>
  </div>
  <%= link_to "edit", edit_todo_path(todo), remote: true %>
  <%= link_to "delete", todo, method: :delete, remote: true, data: { confirm: "Are You Sure?" }%>
<% end %>
</div>
</li>