<h1>Todos</h1>


<%= form_for Todo.new do |f| %>
  <%= label_tag(:title, "Title:") %>
  <%= f.text_field :title %></br>

  <%= label_tag(:description, "Description") %>
  <%= f.text_area :description %></br>

  <%= label_tag(:priority, "Priority") %>
  <%= f.select :priority, [['High', 1],['Medium', 2 ],['Low', 3 ]] %>

  <%= hidden_field_tag :status, value: 1 %>
  <%= f.submit "Create" %>
<% end %>



<% @todos.each do |todo| %>
  <li><%= todo.title %></li>
  <li><%= todo.description %></li>
  <li><%= todo.priority_word %></li>
  <%= link_to "edit", edit_todo_path(todo[:id]) %>
  <%= link_to "delete", todo, method: :delete, data: { confirm: "Are You Sure?" }%>
<% end %>

<% @completed_todos.each do |todo| %>
  <li><%= todo.title %></li>
  <li><%= todo.description %></li>
  <li><%= todo.priority_word %></li>
  <%= link_to "edit", edit_todo_path(todo[:id]) %>
  <%= link_to "delete", todo, method: :delete, data: { confirm: "Are You Sure?" }%>
<% end %>


